li{
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}

  li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  height:55px;
  font-size: 25px;
  font-family: Georgia
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #87CEEB;
}
#_curr_{
  background-color: #87CEEB;
  color:black
}
